body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height:1.5;
    letter-spacing: 1.2;
    color: #4f585e;
}
#top
{
    width:100%;
    background-color: #10847e;
    /* border:1px solid black; */
    height:90px;
}
#top1
{
    display:flex;
    justify-content: space-between;
    padding:10px;
    width:80%;
    /* border: 1px solid black;; */
    height:60px;
    margin:auto;
    color: white;
}
#top1>img
{
    height:56px;
    width:181px;
}
#payment_methods
{
    width:80%;
    /* border: 1px solid black;*/
    height:800px;
    margin:auto;
    margin-top:5px;
}
#offers1
{
  display:flex;
  justify-content: space-between;
  /* border:1px solid black; */
  height:80px;
}
#offers1>div
{
    /* border:1px solid black; */
    width:400px;
}
#offers2
{
  display:flex;
  justify-content: space-around;
  background-color: #f2fff8;
  border-radius: 5px;
  margin-right: 30px;
}
#offers2>img{
    margin-top: 10px;
    height:44px;
    width:73px;
}
#g
{
    color: green;
}
#t
{
    font-weight: 600;
}
#payment_methods1
{
    /* border:1px solid black; */
    height:500px;
    display:grid;
    grid-template-columns: 45% 35%;
    grid-template-rows: 900px 300px;
    gap: 230px;
}
#payment_methods1>div
{
    /* border:1px solid black; */
}
#pricebox
{
    height:200px;
    padding:20px;
    text-align: left;
}
#payment_methods2
{
    /* border:1px solid black; */
    /* display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,120px); */
    gap:4px;
}
/* #payment_methods2>div
{
    display:flex;
    justify-content: space-between;
    border:1px solid black;
    padding: 10px;
}
#payment_methods2>div>img
{
    height:50px;
    width:50px;
    margin-top: 18px;
} */
#lighter
{
    font-size: small;
    font-weight:lighter;
}
input
{
    width:20px;
    height:20px;
}
.collapsible {
    display:flex;
    justify-content : space-between;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top:10px;
  }
  .content {
    display: none;
    overflow: hidden;
    text-align:center;
  }
  .button {
    background-color: #10847e;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height:40px;
  }
