body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height:1.5;
    letter-spacing: 1.2;
}
#main{
    width: 70%;
    margin: auto;
}
#path{
    display: flex;
    /* border: 1px solid #000; */
    font-size:12px;
    gap: 10px;
}
#path i{
    font-size: 9px;
    margin-top: 17px;
    color: #8897a2;

}
#path p{
    color: #4f585e;

}
#path>p:last-child{
    color: #8897a2;
}
#info h2{
    color: #4f585e;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
}
a{
    color: #10847e;
    font-weight: 700;
    text-decoration: none;
}
#info p+p{
    font-weight: 700;
    color: #4b4b4b;

}
#info > h2+p{
    color: #4b4b4b;
}
#category{
    display: flex;
    margin-top: 20px;
}
#category>div{
    border: 1px solid #dfe3e6;
    border-radius: 30px;
    padding: 5px 15px;
    color: #4f585e;
    margin-right: 15px;
}

#category>div:first-child{
    background: #3bb896;
    border-color: #3bb896;
    color: #fff;
    font-weight: 700;
}

#off-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#off-info>div>p:first-child{
    font-weight: 400;
    margin-bottom: 10px;
    color: #4b4b4b;
}
#off-info>div>p:last-child{
    font-weight: 700;
    color: #4b4b4b;

}
#disclaimer{
    color: #8897a2;
    font-size:12px;
}
.info-box{
    border: 1px solid #dfe3e6;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 14px;
    line-height: 1.5;
}
.info-box h4{
    color: #4f585e;
    font-weight: 500;
    margin: 1px;
}

.info-box li{
    color: #8897a2;
    margin-left: -2.5%;
}
.info-box p{
    color: #8897a2;

}

#hr1{
    margin: 80px -22% 50px;
    border:0.5px solid #dfe3e6;
}
#hr2{
    margin: 50px -22% 80px;
    border:0.1px solid #dfe3e6;
}
#policy{
    width: 73%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;
    font-size: 17px;
    line-height: 1.5;
}
#policy > div{
    box-sizing: border-box;
}

#policy img+p{
    font-weight: 700;
    color: #4f585e;
    margin-bottom: -12px;
}
#policy p+p{
    color: #8897a2;
}

#download{
    display: flex;
    justify-content: flex-start;
    gap: 111px;
}
#download img{
    width: 210px;
    height: 416px;
}
#download p{
    font-size:20px;
    color: #4f585e;
}
#btns>div:nth-child(2){
    display: flex;
}
#download button{
    display: flex;
    align-items: center;
    width: 175px;
    margin-right: 20px;
    height: 56px;
    border: none;
    background-color: #4f585e;
    opacity: .95;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 10px 15px;
}
#download i{
    margin-right: 10px;
    font-size: 25px;
}

#download button:hover{
    background-color: #4b4b4b;
}
#offers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    margin: 20px 0 45px 0;
}
#offers img{
    height: 62px;
    width: 62px;
}
.upper{
    display: flex;
    justify-content: space-between;
    height: 120px;
    /* border: 1px solid green; */
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;

}

.lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 5px 0;
    border-top: 1px dashed #dfe3e6;
    /* border: 1px solid red; */
    position: relative
}

.lower>p:first-child{
    color: #4f585e;
}
/* .lower::before{
    left: -1px;
    border-radius: 0 80px 80px 0;
    border-left-color: #fff;
    box-shadow: inset -4px 0 5px -5px rgb(0 0 0 / 20%), -4px 0 0 0 #fff;
}
.lower::after{
    content: "";
    position: absolute;
    height: 18px;
    width: 9px;
    top: -11px;
    background: #fff;
    border: 1px solid #dfe3e6;
} */

#offers > div{
    border: 1px solid black;
    padding: 15px 15px 0 15px;
    border: 1px solid #dfe3e6;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}
.text{
    padding: 0 15px;
    margin-top: -20px;
}
.text>p:first-child{
    color: #4f585e;
    font-weight: 700;
}
.text>p:last-child{
    font-size: 14px;
    color: #4f585e;
    height: 47px;
    overflow: hidden;
}
.cbtn{
    color: #10847e;
    font-weight: 700;
}

#offers i{
    color: #10847e;
}

